* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.garage-door {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(95, 58, 48);
  transition: transform 1s ease;
}

.garage-open {
  transform: translateY(-95%);
}

.collapsed .item-details {
  display: none;
}
